code {
  font-family: "Ubuntu Mono";
}

pre {
  font-family: "Ubuntu Mono";
  background-color: #fdf6e3;
  color: #657b83;
}

blockquote {
  border-left: solid;
  margin-left: 10px;
  padding-left: 10px;
  font-style: italic;
}
